.gradle
build/
*.iws
*.iml
*.ipr
*.log
.DS_Store
out/
target/
bin/
.settings/
.classpath
.project
.gradle/
grails-app/conf/application.yml.bak
.stackdump
*.tmp
*.bak
*.swp
*~.nib
local.properties
.m2/
.settings/
.loadpath
.recommenders/
.externalToolBuilders/
.launches
.metadata/
flexLibraries/
.idea/
*.sublime-project
*.sublime-workspace
.grails/
nbproject/private/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
